body{
    background-color: #212427;
    margin: 0;
    padding: 0;
}

header{
    background-color: whitesmoke;
    box-shadow: 2px 0px 15px black;
    padding-top: 1%;
    padding-bottom: 1.5%;
    z-index: 3;
}

form{
    text-align: center;
}

h1{
    font-size: 52px;
    text-align: center;
    color: #004e44;
    text-shadow: 0.7px 0.7px 0px green, -0.7px -0.7px 0px lightblue;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

label{
    color: white;
    text-shadow: 0px 0px 5px lightblue;
}

select, input, textarea{
    margin-bottom: 2%;
}

.btnProfile{
    color: dodgerblue !important;
    font-size: large;
}

a:link, a:visited, #directory p{
    color: midnightblue;
    border-radius: 5px;
    text-shadow: 0px 0px 5px black;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: dodgerblue;
    cursor: pointer;
    text-shadow: 0px 0px 5px grey;
    text-decoration: none;
}

.center{
    text-align: center;
}

/* Containers */
.containers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.languageContainer{
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
}

.languageContainerPlus{
    text-align: center;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 25px;
    width: 100%;
    height: 5vh;
    padding-top: 2vh;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0.5%;
}

.languageContainerPlus h2{
    margin: 0;
}

/* Dropdown */
#categories{
    width: 15%;
    position: relative;
    display: inline-block;
    margin: 0;
    list-style-type: none;
}

#categories *{
    font-size: 20px;
}

#btnAddLanguage:hover {
    border-radius: 2px;
}

.btnDropdown{
    color: midnightblue;
    border-radius: 5px;
    text-shadow: 0px 0px 5px black;
    text-decoration: none;
    transition: 0.3s;
}

.dropdownContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 5px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#categories:hover .dropdownContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.error{
    color: red;
    font-weight: bold;
    line-height: 0.5;
}

.btnSubmit{
    color: #11114c;
    background-color: dodgerblue;
    font-weight: bold;
    border-radius: 15px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    transition: 0.3s;
}

.btnSubmit:hover{
    background-color: #1871cb;
    cursor: pointer;
}

.btnDeleteLanguage{
    color: darkred;
}

.userParagraph{
    color: white;
}

.light{
    color: white;
}

#logo{
    color: black;
    font-size: 30px;
    width: 5%;
}

#directory{
    width: 15%;
    font-size: 20px;
    margin: 0;
}

#search{
    width: 10%;
    text-align: center;
    font-size: 20px;
}

#loginSystem{
    width: 10%;
    font-size: 20px;
}

#indexText{
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 800px;
    padding: 4%;
    margin-left: auto;
    margin-right: auto;
}

#indexText h1{
    margin-top: 0;
}

#geregistreerdText{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}


