body{
    margin: 0;
    padding: 0;
}

header{
    background-color: lightgrey;
}

h1{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.error{
    color: red;
    line-height: 0.5;
}

#logo{
    width: 10%;
}

#categories{
    width: 40%;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#categories:link{
    text-decoration: none;
}

#btnAddLanguage{
    width: 10%;
}

#search{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

#loginSystem{
    color: dodgerblue;
    width: 10%;
}


